/*-- scss:defaults --*/

$font-family-sans-serif: 'Fira Sans', “Source Sans Pro”, Helvetica, sans-serif;
$font-family-monospace: monospace;
$presentation-font-size-root: 28px;
$presentation-font-smaller: 0.8;
$presentation-line-height: 1.5;
$body-bg: #fff;
$body-color: #222;
$text-muted: lighten($body-color, 50%);
$link-color: #2a76dd;
$link-color-hover: lighten($link-color, 15%);
$selection-bg: lighten($link-color, 25%);
$selection-color: $body-bg;
$border-color: lighten($body-color, 30%);
$border-width: 1px;
$border-radius: 3px;
$presentation-heading-font: $font-family-sans-serif;
$presentation-heading-color: $body-color;
$presentation-heading-line-height: 1.3;
$presentation-heading-letter-spacing: normal;
$presentation-heading-text-transform: none;
$presentation-heading-text-shadow: none;
$presentation-h1-text-shadow: none;
$presentation-heading-font-weight: 600;
$presentation-h1-font-size: 2.5em;
$presentation-h2-font-size: 1.5em;
$presentation-h3-font-size: 1.2em;
$presentation-h4-font-size: 1em;
$presentation-block-margin: 12px;
$presentation-slide-text-align: left;
$presentation-title-slide-text-align: center;
$code-block-bg: black;
$code-block-border-color: lighten($body-color, 60%);
$code-block-font-size: 0.8em;
$code-color: var(–quarto-hl-fu-color);
$code-bg: transparent;
$tabset-border-color: $code-block-border-color;
$light-bg-text-color: #222;
$light-bg-link-color: #2a76dd;
$light-bg-code-color: #4758ab;
$dark-bg-text-color: #fff;
$dark-bg-link-color: #42affa;
$dark-bg-code-color: #ffa07a;




/*-- scss:rules --*/

    
.title-slide,
.title-slide h1 {
 text-align: center;
 font-size: 100%;
 text-shadow: 0px 0px white;
 color: black;
}

.reveal .slide h2 {
color: white;
background-color: darkblue;
font-weight: normal;
padding-left: 10px;
padding-top: 15px;
padding-bottom: 10px;
}

.outline-slide,
.outline-slide ul {
text-align: left;
line-height: 200%;
font-size: 100%;
color: white;
background-color: darkblue;
}

.reference {
text-align: left;
line-height: 130%;
font-size: 80%;
color: blueviolet;
bottom: 100;
}

.title {
    font-size: 80px;
    font-style: normal;
    color: black;
    font-family: 'Fira Sans', “Source Sans Pro”, Helvetica, sans-serif;
    font-variant: small-caps;
  }

.subtitle {
  font-size: 50px;
  font-style: normal;
  color: black;
  font-family: 'Fira Sans', “Source Sans Pro”, Helvetica, sans-serif;
  }

.presenter {
font-size: 35px;
font-style: normal;
color: black;
font-family: 'Fira Sans', “Source Sans Pro”, Helvetica, sans-serif;
}

/* .reveal pre.sourceCode code {
	width: 500px;
} */

.reveal div.sourceCode {
  border: none;
  border-radius: 0px;
  margin-bottom: 10px !important;
}